body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c8da2c;
}

.splash img {
    max-width: 80%;
    max-height: 80%;
}

